# Objectif de charger les données

In [20]:
import pandas as pd
import os
import json

In [27]:
#lire le fichier json des paramètres 
with open('../parameters.json') as json_data:
    params = json.load(json_data)
    
    DATA_DIR = params['DIRECTORIES']['DATA_DIR']
TMP_DIR = params['DIRECTORIES']['TMP_DIR']

In [2]:
#ce code si on avait pas utilsier le fichier param json

#constante, on met souvent en majusucles. 
#utiliser nom anglais et simple pour sauvegarder les path qu'on va utiliser
#DATA_DIR = 'C:/Users/t15021596/Hands-on-Project---CT/data'
#ou utiliser l emode relatif, ici poru au autre dossier tmp
#TMP_DIR = '../../tmp'

In [3]:
gas_files =['Prix2014.zip','Prix2015.zip','Prix2016.zip',]
stations_file = 'stations2016.zip'
services_file = 'services2016.zip'

In [16]:
#une façon pas très propre d'importer le fichier : 
#df2014 =pd.read_csv(DATA_DIR +'/' + gas_files[0])

#autre méthode qui marchera quelque soit le système d'exploitation. 
#le dtype : be carful with the postal code (variable 1), better set it as character otherwise the leading 0 will disappear
df2014 =pd.read_csv(os.path.join(DATA_DIR,gas_files[0]), sep=';',header=None, dtype={1:str})

In [17]:
#on peut voir avec ça que séparateur c'est ; et la on revient au dessus et on rajoute l'argument sep
df2014.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [18]:
df2014.head()

,0,1,2,3,4,5,6,7,8
0,1000001,01000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,01000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,01000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,01000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,01000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0

In [13]:
df2014.dtypes

0      int64
1      int64
2     object
3    float64
4    float64
5     object
6    float64
7     object
8    float64
dtype: object

In [14]:
#renommer les colonnes
df2014.columns = ['id_station','code_postal','type_station','latitude',
                  'longitude','date_releve','type_carburant',
                  'libelle_carburant','prix']